.outerContainer{
    background-color: white;
    height: 450px;
    width: 700px;
    position: relative;
    left: 420px;
    top: 160px;
}

.innerContainer{
    background-color: rgb(248, 7, 7);
    height: 250px;
    width: 250px;
    border-radius: 150px;
    position: relative;
    left: 220px;
    top: 100px;
}