.firstclass{
    color: blue;
}

.secondclass{
    background-color: aquamarine;
}

#s1{
    background-color: rgb(95, 187, 83);
    height: 200px;
    width: 500px;
    margin-bottom: 50px;
    border: solid 10px blue;
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;  
    box-sizing: content-box;
}

#s2{
    background-color: rgb(95, 187, 83);
    height: 200px;
    width: 500px;
    margin-bottom: 50px;
    border: solid 10px blue;
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center; 
    box-sizing: border-box;

}