*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(87, 87, 215);
    
}

.container{
    
    height: 400px;
    width: 1000px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
}

.box{
    background-color: rgb(64, 142, 231);
}
img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:900px){
    .container{
    height: 800px;
    width: 500px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width:600px){
    .container{
    height: 1600px;
    width: 250px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    }
    
}