h1{
    background-color: rgb(78, 190, 194);
    height: 100px;
    width:300px;
    border-style: solid;
    border-color: rgb(127, 235, 19);
    border-width:10px;
    padding: 20px; /* har taraf se badha dega */
    padding-left: 100px;
    padding-top: 65px;
    margin: 100px; /* har taraf se badha dega */
    margin-left: 500px;
    border-radius: 20px 30px 40px 65px;

}

p{
    background-color: rgb(107, 215, 192); /* content */
    padding: 30px; /* padding */
    border: 10px solid rgb(65, 176, 207); /* Border */
    margin: 40px; /* Margin */

    border-radius: 0px 30px 0px 30px;
}

h2{
    background-color: #F08080;
    padding: 30px;
    border-top: blue 10px solid;
    border-bottom: #DC143C 15px dotted;
    border-left: green solid 10px;
    border-right: #DC143C 15px dotted;
    margin: 40px;
}