*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: black;

}

.container{
    display: flex;
    background-color: blueviolet;
    padding: 10px;
    gap: 10px;
}

.box{
    height: 300px;
    width: 200px;
}

.first{
    background-color: aquamarine;
}

.second{
    background-color:blueviolet ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.b{
    height: 100px;
    width: auto;
}

.s1{
    background-color: chartreuse;
    flex-basis: 50%;
}

.s2{
    background-color: cadetblue;
    flex-basis: 50%;

}