.redBox{
    background-color: #CE1126;
    height: 350px;
    width: 550px;
    position: relative;
    left: 480px;
    top: 200px;
}

.blueBox{
    background-color: #002868;
    height: 220px;
    width: 550px;
    position: absolute;
    top: 19%;
}

.whiteCircle{
    background-color: #FFFFFF;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 22%;
    

}